<div class="site ">
    <!-- opening .site -->

    <div data-sticky-container class="grid-container ">
        <div class="title-bar " data-sticky data-options="marginTop:0;" data-responsive-toggle="example-menu" data-hide-for="medium">

            <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            <div class="title-bar-title ">Menu</div>
        </div>

        <div class="top-bar" id="example-menu">
            <ul class="vertical medium-horizontal dropdown menu " data-responsive-menu="accordion medium-dropdown">
                <li class="list-group-item ">
                    <a href="/">mk26
                        <span class="hide-for-medium-only"> architektura</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/about">pracownia</a>
                </li>
                <li class="list-group-item">
                    <a href="#">architektura</a>
                    <ul class="menu">
                        <li class="list-group-item">
                            <a href="/housing">mieszkaniowa</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/commercial">komercyjna</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/communal">publiczna</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/interior">wnętrz</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <a href="/contact">kontakt</a>
                </li>
            </ul>
        </div>

    </div>