<% include partials/header.ejs %>

    <section class="team">

        <div class="grid-container content ">
            <div class="grid-x grid-padding-x medium-up-2  grid-margin-y ">
                <div class="cell flex-container ">

                    <div class="card ">
                        <figure class="img-center">
                            <img src="/public/img/zespol_1.jpg">
                            <figcaption>mgr inż. arch. Maciej Kłonowski</figcaption>
                        </figure>

                        <div class="card-section ">
                            <p>W 2012 roku ukończył studia magisterskie na Wydziale Architektury Politechniki Poznańskiej.</p>
                            <p>W czasie edukacji współpracował z biurem projektującym wnętrza oraz odbył praktykę zawodową w
                                doświadczonych pracowniach architektonicznych. W latach 2012/2013 był częścią zespołu Holenderskiej
                                pracowni 123dv gdzie współprojektował luksusowe wille. Na początku 2014 roku podjął pracę
                                w poznańskiej pracowni architektonicznej.</p>

                        </div>
                    </div>
                </div>
                <div class="cell flex-container">

                    <div class="card">
                        <figure class="img-center">
                            <img src="/public/img/zespol_2.jpg">
                            <figcaption>mgr inż. arch. Małgorzata Łabędzka</figcaption>
                        </figure>

                        <div class="card-section ">

                            <p>Absolwentka Wydziału Architektury Politechniki Poznańskiej. W czasie studiów swoje doświadczenie
                                zdobywała w poznańskich biurach architektonicznych.</p>
                            <p>W roku 2012 odbyła staż we włoskiej pracowni OBR Associated Architects. Od 2013 roku pracuje
                                w poznańskiej pracowni architektonicznej.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="offer">

        <div class="grid-container content ">
            <div class="card">
                <div class="card-divider">
                    <h4>projekty architektoniczne</h4>
                </div>
                <div class="card-section">
                    <p>Biuro działa głównie w zakresie projektowania architektonicznego obiektów małej i średniej wielkości.
                        Wykonujemy projekty koncepcyjne, budowlane oraz wykonawcze łącznie z prowadzeniem nadzoru autorskiego
                        nad realizacją. Współpracujemy z doświadczonymi projektantami branżowymi zapewniając kompleksową
                        obsługę klienta. Chętnie podejmiemy się przekonania inwestora prywatnego o wyższości projektu indywidualnego
                        nad typowym.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-divider">
                    <h4>projekty wnętrz</h4>
                </div>
                <div class="card-section">
                    <p>Wykonujemy projekty układu funkcjonalnego przestrzeni open-space, aranżacji wnętrz publicznych i prywatnych.
                        Wykonujemy projekt koncepcyjny, który po akceptacji klienta doprowadzamy do realizacji sprawując
                        nad nim nadzór autorski.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-divider">
                    <h4>projekty mebli</h4>
                </div>
                <div class="card-section">
                    <p>Z przyjemnością wykonamy projekt nietypowego mebla na zamówienie. Współpracujemy ze stolarzami i tapicerami
                        mebli z wieloletnim doświadczeniem. W wolnych chwilach przywracamy do życia zaniedbane, stare meble
                        o ciekawym designie.</p>
                </div>
            </div>
        </div>

    </section>

<% include partials/footer.ejs %>