<% include layout.ejs %>

    <section class="communal">

        <div class="grid-container">

            <ul class="tabs flex-container menu-hover-lines align-center-middle  small-vertical menu" data-active-collapse="true" data-tabs
                id="collapsing-tabs">
                <li class="tabs-title is-active ">
                    <a href="#panel1" aria-selected="true">kaplica Pszczelnik</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel2">kompleks edukacyjny w gminie Kórnik</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel3">harcówka na poznańskiej Malcie</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel4">dworzec autobusowy - Piekary Śląskie</a>
                </li>
            </ul>
        </div>

        <div class="grid-container ">
            <div class="tabs-content align-center " data-tabs-content="collapsing-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <p> Projekt budowlany kaplicy dla 50 parafian małej miejscowości w województwie lubuskim wykonany przy współpracy
                        z gorzowskim biurem projektowym nimo architekci.</p>
                    <div class="grid-container ">
                        <div class="grid-x grid-padding-x grid-margin-y ">
                            <div class="cell ">
                                <img src="/public/img/arch_publ_1_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_1_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_1_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_1_4.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_1_5.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_1_6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel " id="panel2">
                    <p> Projekt konkursowy kompleksu edukacyjnego w podpoznańskiej gminie Kórnik zrealizaowany we współpracy
                        z Gorzowskim biurem projektowym BPPA DOM.</p>
                    <div class="grid-container content">
                        <div class="grid-x grid-padding-x  grid-margin-y">
                            <div class="cell ">
                                <img src="/public/img/arch_publ_2_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_2_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_2_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_2_4.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_2_5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs-panel " id="panel3">
                    <p>Projekt przebudowy harcówki w Poznaniu przy ulicy Świętojaoskiej 3.</p>
                    <p>Teren objęty opracowaniem znajduje się na osiedlu Komandoria przy północnym brzegu jeziora maltaoskiego,
                        które pełni najważniejszą funkcję rekreacyjno – sportową w pobliżu centrum miasta.</p>
                    <p>Program funkcjonalny zakładał zaprojektowanie budynku głównego wraz z zagospodarowaniem terenu, na które
                        składają się określone elementy będące jego wyposażeniem. Na podstawie licznych analiz ostateczna
                        forma posiada dwie kondygnacje podzielone na strefę dzienną i nocną. Charakterystycznym elementem
                        budynku jest całkowicie przeszklona sala główna będąca miejscem zebrań.</p>
                    <p>Architektura obiektu utrzymana jest w modernistycznej stylistyce, którą uzyskano dzięki prostej formie
                        i użyciu klarownych materiałów w postaci szkła, białego tynku, naturalnego drewna, oraz blacharskich
                        elementów wykooczeniowych malowanych proszkowo w ciemnym kolorze.</p>
                    <div class="grid-container content">
                        <div class="grid-x grid-padding-x  grid-margin-y">
                            <div class="cell  space-vertical">
                                <img src="/public/img/arch_publ_3_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_3_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_3_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_3_4.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_3_5.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_3_6.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_3_7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs-panel " id="panel4">
                    <p> Koncepcja architektoniczno-urbanistyczna przebudowy istniejącego dworca linii autobusów miejskich przy
                        ul. Jana Pawła II w Piekarach Śląskich.</p>
                    <p>Przy projektowaniu obiektu najważniejszym kryterium była ekonomika rozwiązań przy uzyskaniu klasycznej,
                        prostej, eleganckiej formy. Zdecydowano się na dwa elementy ożywiające bryłę. Jednym z nich jest
                        częściowo zadaszony taras zlokalizowany przy trzech drzewach od ul. Jana Pawła, pełniący funkcję
                        poczekalni w pogodne dni. Drugi element to ażurowo ułożona cegła, dająca ciekawe efekty świetlne
                        oraz wspierająca zadaszenie przy wejściu do budynku poczekalni. Zadbano również o ograniczenie przeszkleń
                        od strony północnej ze względów oszczędnościowych oraz wykorzystanie istniejących konstrukcji stalowych
                        pod zadaszenia peronów. Cały obiekt jest w pełni dostępny dla osób niepełnosprawnych i może być wyposażony
                        w pełen zakres funkcji POP KZK GOP.</p>
                    <div class="grid-container content">
                        <div class="grid-x grid-padding-x  grid-margin-y">
                            <div class="cell ">
                                <img src="/public/img/arch_publ_4_1.jpg" alt="">
                            </div>
                            <div class="cell">
                                <img src="/public/img/arch_publ_4_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_4_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_4_4.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_4_5.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/arch_publ_4_6.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>


<% include partials/footer.ejs %>