<% include layout.ejs %>

    <section class="commercial">
        <div class="grid-container">

            <div class="grid-x grid-padding-x  grid-margin-y">

                <div class="cell" data-tooltip tabindex="1" title="Projekt koncepcyjny budynku biurowego przy ulicy Towarowej w Poznaniu."
                    data-position="left" data-alignment="top">
                    <img src="/public/img/arch_kom_1_1.jpg" alt="">

                </div>

                <div class="cell" data-tooltip tabindex="1" title="Schemat funkcjonalny budynku." data-position="left" data-alignment="top">
                    <img src="/public/img/arch_kom_1_2.jpg" alt="">
                </div>
                <div class="cell" data-tooltip tabindex="1" title="Strefa wejściowa przez atrium od ul.Towarowej." data-position="left" data-alignment="top">
                    <img src="/public/img/arch_kom_1_3.jpg" alt="">
                </div>

                <div class="cell ">
                    <img src="/public/img/arch_kom_1_4.jpg" alt="">
                </div>

                <div class="cell" data-tooltip tabindex="1" title="Rzut parteru." data-position="left" data-alignment="top">
                    <img src="/public/img/arch_kom_1_5.jpg" alt="">
                </div>

                <div class="cell" data-tooltip tabindex="1" title="Przykładowa aranżacja kondygnacji powtarzalnej." data-position="left"
                    data-alignment="top">
                    <img src="/public/img/arch_kom_1_6.jpg" alt="">
                </div>

            </div>
        </div>
    </section>


<% include partials/footer.ejs %>