<% include partials/header.ejs %>


    <div class="grid-container fluid flex-container ">
        <div class="grid-x grid-padding-x small-stack medium-up-3 large-up-4 intro">
            <div class="cell flex-container align-center">
                <a class="" href="/">
                    <script type="text/javascript">
                        getRandomImage(random_images_array);
                    </script>
                </a>
            </div>
            <div class="cell flex-container align-center  hide-for-small-only">
                <a href="/">
                    <script type="text/javascript">
                        getRandomImage(random_images_array);
                    </script>
                </a>
            </div>
            <div class="cell flex-container align-center hide-for-small-only">
                <a href="/">
                    <script type="text/javascript">
                        getRandomImage(random_images_array);
                    </script>
                </a>
            </div>
            <div class="cell flex-container align-center  hide-for-small-only hide-for-medium-only">
                <a href="/">
                    <script type="text/javascript">
                        getRandomImage(random_images_array);
                    </script>
                </a>
            </div>
        </div>
    </div>


<% include partials/footer.ejs %>