<% include layout.ejs %>

    <section class="interior">


        <div class="grid-container grid-container ">

            <ul class="tabs flex-container align-center-middle  menu-hover-lines small-vertical menu" data-active-collapse="true" data-tabs
                id="collapsing-tabs">
                <li class="tabs-title is-active ">
                    <a href="#panel1" aria-selected="true">Malta 52, Poznań</a>
                </li>
                <li class="tabs-title ">
                    <a href="#panel2">Mieszkanie na Ogrodach, Poznań</a>
                </li>
                <li class="tabs-title ">
                    <a href="#panel3">B&B Apartment, Poznań</a>
                </li>
                <li class="tabs-title ">
                    <a href="#panel4">hexa house, Poznań</a>
                </li>
            </ul>
        </div>

        <div class="grid-container ">
            <div class="tabs-content align-center " data-tabs-content="collapsing-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <p> Projekt dwupokojowego mieszkania z oddzielną kuchnią</p>
                    <p>Klasyczna biel w połączeniu z naturalnym drewnem dębowym i wyrazistym kolorem.</p>
                    <div class="grid-container ">
                        <div class="grid-x grid-padding-x grid-margin-y ">
                            <div class="cell ">
                                <img src="/public/img/wnetrza_1_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_1_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_1_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_1_4.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_1_5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel " id="panel2">
                    <p> Wnętrze 70-cio metrowego mieszkania na Poznańskich Ogrodach.</p>
                    <p>Zmieniliśmy układ funkocjonalny z trzech na dwa pokoje. Zlikwidowaliśmy ciasną garderobę, zastępując
                        ją nowoczesnym układem sypialni z eleganckimi szafami. W centralnej części dziennej znajduje się
                        wyeksponowane z trzech stron akwarium.</p>
                    <div class="grid-container content">
                        <div class="grid-x grid-padding-x  grid-margin-y">
                            <div class="cell  ">
                                <img src="/public/img/wnetrza_2_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_4.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_5.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_6.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_7.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_8.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_9.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_2_10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs-panel " id="panel3">
                    <p> Wnętrze małego apartamentu na wynajem krótkoterminowy w pobliżu Międzynarodowych Targów Poznańskich.</p>
                    <p>Główną wytyczną inwestora było stworzenie miejsca do wygodnego wypoczynku po cieżkum dniu targowym, kącika do pracy i małej przestrzeni do przygotowania i zjedzenia posiłku.</p>

                    <div class="grid-container content">
                        <div class="grid-x grid-padding-x  grid-margin-y">
                            <div class="cell  ">
                                <img src="/public/img/wnetrza_3_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_3_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs-panel " id="panel4">
                    <p>Wnętrze domu znajdującego się na spokojnych przedmieściach Poznania z pięknym widokiem na miasto.</p>
                    <p>Zaprojektowaliśmy strefę wejściową, cześć dzienną, hol na piętrze oraz główną sypialnię. Inwestorowi
                        zależało na wyrazistym wnętrzu z użyciem mocnego koloru. Zaproponowaliśmy dwa warianty. Zdjęcia wykonane
                        podczas prac wykończeniowych.</p>
                    <div class="grid-container content">
                        <div class="grid-x grid-padding-x  grid-margin-y">
                            <div class="cell  ">
                                <img src="/public/img/wnetrza_4_1.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_4_2.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_4_3.jpg" alt="">
                            </div>
                            <div class="cell ">
                                <img src="/public/img/wnetrza_4_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<% include partials/footer.ejs %>